    html {
        height: 100%;
    }

    body {
        height: 100%;
        margin: 0;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: center center;
        background-width: 100% auto;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -ms-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-image: url(../assets/bg.jpg);
    }

    canvas {
        display: block;
        cursor: none;
    }

    a {
        text-decoration: none;
    }

    #wrap {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        left: 0;
        top: 0;
    }

    .preload-font {
        position: absolute;
        bottom: -1000%;
    }

    .layout {
        position: absolute;
        -webkit-transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        pointer-events: none;
    }

    #tooltip {
        width: 100%;
        height: 20%;
        top: 32%;
    }

    #tooltip-text {
        width: 50%;
        height: 40%;
        top: 63%;
        left: 65%;
    }

    #board {
        width: 87vw;
        height: 87vw;
    }

    #board-inner {
        width: 100%;
        height: 100%;
        // margin: 6.5%;
    }

    #board-mask {
        width: 87vw;
        height: 87vw;
        top: 49.8%;
    }

    #logo {
        width: 80%;
        height: 80%;
        padding-bottom: 25%;
        top: 30%;
    }

    #cta-start {
        width: 60%;
        height: 0;
        padding-bottom: 25%;
        top: 85%;
    }

    #cta-end {
        width: 55%;
        height: 0;
        padding-bottom: 20%;
        top: 55%;
        left: 60%;
    }

    #goal-panel {
        width: 80%;
        height: 0;
        padding-bottom: 20%;
        top: 12%;
    }

    #goal-item-1 {
        width: 13%;
        height: 0;
        padding-bottom: 13%;
        top: 50%;
        left: 50%;
    }

    #goal-item-2 {
        width: 13%;
        height: 0;
        padding-bottom: 13%;
        top: 50%;
        left: 25%;
    }

    #goal-item-3 {
        width: 13%;
        height: 0;
        padding-bottom: 13%;
        top: 50%;
        left: 75%;
    }

    #goal-text-1 {
        width: 8%;
        height: 0;
        padding-bottom: 8%;
        top: 66%;
        left: 55%;
    }

    #goal-text-2 {
        width: 8%;
        height: 0;
        padding-bottom: 8%;
        top: 66%;
        left: 30%;
    }

    #goal-text-3 {
        width: 8%;
        height: 0;
        padding-bottom: 8%;
        top: 66%;
        left: 80%;
    }

    #ostin {
        width: 48%;
        height: 48%;
        padding-bottom: 60%;
        left: 25%;
        top: 140%;
    }

    .cascade {
        width: 80%;
        height: 80%;
        padding-bottom: 130%;
        top: 35%;
    }

    #cascade-1 {
        left: 10%;
    }

    #cascade-2 {
        left: 35%;
    }

    #cascade-3 {
        left: 50%;
    }

    #cascade-4 {
        left: 85%;
    }

    /*************************** LANDSCAPE ***************************/

    @media all and (orientation:landscape) {

        #tooltip {
            width: 50%;
            left: 27.5%;
            height: 30%;
            top: 25%;
        }

        #board {
            height: 53vw;
            width: 53vw;
            left: 30%;
        }

        #board-mask {
            height: 53vw;
            width: 53vw;
            left: 30%;
        }

        #logo {
            width: 50%;
            height: 50%;
            padding-bottom: 12.5%;
            top: 35%;
            left: 50%;
        }

        #cta-start {
            width: 30%;
            left: 77.5%;
            top: 65%;
        }

        #cta-end {
            width: 30%;
            left: 50%;
            top: 75%;
        }

        #goal-panel {
            width: 40%;
            padding-bottom: 20%;
            top: 35%;
            left: 77.5%;
        }

        #ostin {
            width: 25%;
            top: 180%;
            left: 15%;
        }

        .cascade {
            width: 40%;
            padding-bottom: 100%;
            top: 50%;
        }

        #cascade-3 {
            left: 30%;
        }

         #level-complete {
            width: 100%; 
        }
        
        #level-complete .client-cta {
            width: 40%;
            left: 30%;
            top: 60%;
            z-index: 300;
        }
        
        .logo {
        position: absolute;
        width: 50%;
        top: 25%;
        left: 25%;
        z-index: 1;
        }
        
        #level-completed-text {
            left: 27.5%;
            width: 45%;
        }
        
        .fish img {
            width: 50%;
        
        }
        
        #level-complete.show .left-fish1 {
        left: 0%;
        bottom: 5%;
        width: 48%;
        
            
        }

        #level-complete.show .left-fish2 {
        left: 8%;
        bottom: 48%;
        width: 50%;
        
        }   

        #level-complete.show .right-fish1 {
        right: -10%;
        bottom: 9%;
        width: 35%;
        }

        #level-complete.show .right-fish2 {
        right: -20%;
        width: 43%;
        bottom: 40%;
            
        }

        #level-complete.show .right-fish3 {
        right: 10%;
        width: 29%;
        bottom: 65%;
        }
    }

       //ipad
    @media all and (min-width: 768px) and (orientation: portrait) {
        #ostin {
            top: 150%;
            width: 40%;
            height: 40%;
        }

        #logo {
            width: 75%;
            height: 75%;
        }

        #cta-start {
            width: 45%;
            height: 45%;
            top: 90%;
        }

    }

    @media all and (min-width: 768px) and (orientation: landscape) {
        #ostin {
            top: 155%;
            width: 30%;
            height: 30%;
        }

        #logo {
            width: 60%;
            height: 60%;
            left: 55%;
        }

        #cta-start {
            width: 40%;
            height: 40%;
            top: 90%;
        }

        #cta-end {
            left: 55%;
        }

    }

